.header {
  width: 100%;
  padding: 0 24px;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;

  @media (max-width: 1240px) {
    padding: 0 20px;
    top: 20px;
  }

  @media (max-width: 660px) {
    padding: 0;
    top: 0;
  }
}

#container {
  max-width: 1352px;
  backdrop-filter: blur(60px);
  background-color: rgba(108, 185, 171, 0.7);
  padding: 12px 26px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media (max-width: 1240px) {
    padding: 12px 22px;
  }

  @media (max-width: 660px) {
    padding: 8px 16px;
  }
}

.logo {
  &Link {
    font-size: 0;
  }

  @media (max-width: 940px) {
    width: 78px;
  }
}

.nav {
  @media (max-width: 660px) {
    display: none;
  }

  &Active {
    @media (max-width: 660px) {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      overflow: hidden;
      inset: 0;
      height: 100vh;
      background-color: #6cb9ab;
    }
  }
}

.cartLink {
  width: 28px;
  height: 28px;
  color: #64099b;
  font-size: 12px;
  background-image: url('/image/bag.svg');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px 4px 3px;

  @media (max-width: 660px) {
    margin-left: auto;
  }
}

.control {
  display: flex;
  align-items: center;
  gap: 16px;
}

.burger {
  display: none;

  @media (max-width: 660px) {
    display: block;
    width: 28px;
    height: 28px;
    border: none;
  }
}

.closeBtn {
  display: none;

  @media (max-width: 660px) {
    position: absolute;
    top: 20px;
    right: 16px;
    display: block;
    width: 28px;
    height: 28px;
    border: none;
  }
}

.mobile {
  &Menu {
    display: none;
    @media (max-width: 660px) {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
  &Line {
    width: 20px;
    height: 1px;
    background-color: #d9d9d9;
  }
}
