.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f9f7;

  @media (max-width: 660px) {
    flex-direction: column;
  }

  &__image {
    width: 336px;
    height: 360px;

    @media (max-width: 940px) {
      width: 224px;
      height: 260px;
    }

    @media (max-width: 660px) {
      width: 290px;
      height: 276px;
    }
  }

  &__content {
    padding: 40px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 52px;

    @media (max-width: 940px) {
      padding: 24px 24px 16px;
      gap: 31px;
    }

    @media (max-width: 660px) {
      padding: 16px;
      width: 290px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 12px;

    @media (max-width: 940px) {
      font-size: 20px;
      margin-right: 24px;
    }
    @media (max-width: 660px) {
      margin-right: 0;
    }
  }

  &__price {
    @media (max-width: 940px) {
      font-size: 16px;
    }
  }

  &__additional {
    font-size: 16px;

    @media (max-width: 940px) {
      font-size: 12px;
    }

    &-list {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      color: #b8b8b8;
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34px;
  }

  &__quantity {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 4px;

    &-btn {
      display: block;
      width: 36px;
      height: 36px;
      line-height: 1.24;
      border-radius: 4px;
      border: 1px solid #b8b8b8;
      background-repeat: no-repeat;
      background-position: center;
      outline: none;

      @media (max-width: 940px) {
        width: 24px;
        height: 24px;
      }

      &:focus-visible {
        border-color: #780096;
      }

      &_minus {
        background-image: url('/image/minus.svg');
      }

      &_plus {
        background-image: url('/image/plus.svg');
      }
    }

    &-count {
      width: 26px;
      text-align: center;
      background-color: transparent;
      border: none;
      outline: none;
      appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        display: none;
      }
    }
  }

  &__cart-add {
    border: 1px solid #64099b;
    border-radius: 4px;
    padding: 16px 24px;
    color: #64099b;
    outline: none;

    &:active,
    &:focus-visible {
      border-color: #6cb9ab;
      color: #6cb9ab;
    }

    &:hover {
      border-color: #7308b5;
    }

    &:disabled {
      opacity: 50%;
    }

    @media (max-width: 940px) {
      padding: 12px 18px;
    }
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-image: url('/image/close.svg');
    border: none;

    @media (max-width: 660px) {
      top: 16px;
      right: 16px;
    }
  }
}
